{% extends '_base.html.twig' %}

{% block pageTitle %}list of students{% endblock %}

{% block body %}

    {{ dump() }}

    <h1>List of students</h1>

    <ul>
        {% for student in students %}
            <li>
                id = {{ student.id }}
                <br>
                name =
                <a href="{{ path('students_show', {id:student.id}) }}">
                    {{ student.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <hr>
    <a href="{{ path('students_new_form')}}">
        create NEW student
    </a>


{% endblock %}