{% extends '_base.html.twig' %}

{% block pageTitle %}list all electives{% endblock %}

{% block stylesheets %}
        @import '/css/table.css';
{% endblock %}

{% block body %}
    <h1>Electives list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Modulecode</th>
                <th>Moduletitle</th>
                <th>Credits</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for elective in electives %}
            <tr>
                <td><a href="{{ path('elective_show', { 'id': elective.id }) }}">{{ elective.id }}</a></td>
                <td>{{ elective.moduleCode }}</td>
                <td>{{ elective.moduleTitle }}</td>
                <td>{{ elective.credits }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('elective_show', { 'id': elective.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('elective_edit', { 'id': elective.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('elective_new') }}">Create a new elective</a>
        </li>
    </ul>
{% endblock %}
