{% extends 'base.html.twig' %}

{% block body %}
    <h1>Counties list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for county in counties %}
            <tr>
                <td><a href="{{ path('county_show', { 'id': county.id }) }}">{{ county.id }}</a></td>
                <td>{{ county.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('county_show', { 'id': county.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('county_edit', { 'id': county.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('county_new') }}">Create a new county</a>
        </li>
    </ul>
{% endblock %}
